<?xml version="1.0" ?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Cold-Sweat-1.21"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.neoforged.devlaunch.Main"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" &quot;@/home/michael/IDE Projects/IdeaProjects/Cold-Sweat-1.21/build/moddev/serverRunProgramArgs.txt&quot;"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=" &quot;@/home/michael/IDE Projects/IdeaProjects/Cold-Sweat-1.21/build/moddev/serverRunVmArgs.txt&quot; &quot;-Dfml.modFolders=cold_sweat%%/home/michael/IDE Projects/IdeaProjects/Cold-Sweat-1.21/bin/main&quot;"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/michael/IDE Projects/IdeaProjects/Cold-Sweat-1.21/run"></stringAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"></booleanAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"></booleanAttribute>
</launchConfiguration>